html {
        box-sizing: border-box;
        font-size: 62.5%;
        max-width: 1200px;
        margin: auto; 
        padding: 2rem;
           
    
    }

     *, *:before, *:after {
         box-sizing: border-box;
     }

body {
         padding: 0rem;
         margin: 0;
         font-size: 1.5rem;
         /* background-color: #f6f9fc; */
         box-shadow:  2px -2px 15px #b3c2c5,
             -20px 20px 60px #7a9bb836;

    }

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.3rem;
}

p, a, li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;

}

ul {
    padding: 0;
    list-style-type: none;
}


.intro-section {
    display: flex;
background: hsla(283, 36%, 50%, 1);

background: hsla(283, 36%, 50%, 1);

background: linear-gradient(45deg, hsla(283, 36%, 50%, 0.6) 30%, rgba(252, 188, 151, 0.576) 100%);

background: -moz-linear-gradient(45deg, hsla(283, 36%, 50%, 0.6) 30%, hsla(22, 94%, 79%, 1) 100%);

background: -webkit-linear-gradient(45deg, #9352ad60 30%, rgba(252, 188, 151, 0.426) 100%);
   
    justify-content: space-around;
    align-items: center;
    padding: 5rem 3rem;

}

.image > img {
    width: 30.3rem;
    height: 30.3rem;
    object-fit: contain;
    border-radius: 200px;
    border: solid #fff 3px;
}

.detail > h1 {
    font-weight: bold;
    font-size: 5rem;
    color: #003D74;
}

.detail > p {
    font-weight: 500;
    font-size: 2.5rem;
    color: #003D74;
    opacity: 0.8
}


.contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.contact > div {
    margin-right: 2rem;
    margin-bottom: 1rem;

}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item > img{
    width: 1.5rem; 
    margin-right: .5rem; 
}

.contact-item > a{
    font-weight: 500;
    color: #003D74;
    text-decoration: none;
}

.detail-section-wrapper {
	 display: flex;
}
 
.detail-section {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 2.5rem;
    z-index: -2;
}

.detail-left {
    flex-basis: 40%;
}

.detail-left > section {
    margin-bottom: 5rem;
}
.detail-right > section {
    margin-bottom: 5rem;
}

.detail-left > section > h2, 
.detail-right > section > h2 {
    font-weight: bold;
    border-radius: 8px;
	background: #9251ac;
	flex-basis: 40%;
	padding: 2rem;
    color: #f6a4ec;
	 font-weight: 600;
}


 ul {
  list-style-type: none;
}

li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}
li:after {
	 content: "";
	 width: 2px;
	 height: 102%;
	 background: #9251ac;
	 position: absolute;
	 top: 65%;
	 left: -2.1rem;
	 z-index: -1;
}
 li:before {
	 content: "";
	 width: 2rem;
	 height: 2rem;
	 position: absolute;
	 background: #f6a4ec;
	 border-radius: 100%;
	 left: -3rem;
	 top: 50%;
	 transform: translateY(-50%);
	 border: 2px solid #9251ac;
}

li {
	 background: #fff;
	 margin-bottom: 2rem;
	 position: relative;
	 display: flex;
	 margin: 2rem 0;
     padding: 2.5rem 2rem;
	 border-radius: 8px;
	 box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

li:last-child:after {
	 content: none;
}

.experience > ul > li:after {
	 top: 58%;
	 left: -2.1rem;
}

.hard-skills ul > li,
.skills ul > li{
    margin-bottom: 1rem;
}

.detail-right-h3 {
    font-family: 'Raleway';
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #003e74b1;

}

.detail-right {
    flex-basis: 40%;
}


.logo > a > img {
    width: 12rem;
    height: 5rem;
    object-fit: contain;
    margin-right: 1rem;
    border: 1px solid black;
    background: #e4dfdf;
    box-shadow:  2px -2px 15px #bebebe,
             -20px 20px 60px #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 75em) {
    
    html {
        font-size: 56.25%;
    }
}


@media (max-width: 56.25em){
    html {
        font-size: 65%;

    }

    .image > img {
    width: 20.3rem;
    height: 20.3rem;
    object-fit: contain;
    border-radius: 200px;
    border: solid #fff 3px;
}

}

@media (max-width: 43.0625em) {

    html {
        font-size: 50.25%; 
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }
    .intro-section {
        flex-direction: column;
        text-align: center;
        padding: 5rem 3rem;
    }

    .image {
        order: -1;
    }

    .contact {
        justify-content: center;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detail-section {   
        padding: 5rem 5rem;
        flex-direction: column;
    }
} 



/* ************************************************************ */

 
 
